@charset "utf-8";

.search-bar {
  display: flex;
  position: relative;
  width: 100%;
  height: 4rem;

  &__input {
    flex: 1 1;
    min-width: 0;
    padding: 0;
    border: 0;
    font-size: 2rem;
    text-indent: 1rem;
  }

  &__button {
    position: absolute;
    right: 0;
    flex: 0 0 6rem;
    height: 100%;
    padding: 0 1rem;
    border: 0;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
  }
}
