@charset "utf-8";

.pagination {
  display: flex;
  justify-content: space-between;
  height: (10rem - 2rem) / 4;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;

  &__input {
    flex: 1 1;
    width: 3rem;
    padding: 0;
    border: 0;
    background-color: #eee;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__text {
    flex: 1 1;
    font-size: 1.3rem;
  }
}
